@tailwind base;
@tailwind components;
@tailwind utilities;

.text-color-1 {
    color: #1f2a3f;
}

.text-color-2 {
    color: #383838;
}

.text-color-3 {
    color: #bababa;
}

/* Change selection color */
::-moz-selection { /* Code for Firefox */
    color: #fff;
    background: #e67c11;
}

::selection {
    color: #fff;
    background: #e67c11;
}
